* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: #000;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* height: 500px;
    width: 800px; */
}

.container .block {
    position: relative;
    height: 5vh;
    width: 5vw;
    background: url(imgs/birthday-age.png);
    background-size: cover;
    background-attachment: fixed;
}